*{
    margin: 0;
    padding: 0;
} 
.mm{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.985);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.div1{
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
nav .div1 a{height: 100%;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
nav .div1 .div3{
    border: 1px solid rgba(255, 255, 255, 0.474);
    text-decoration: none;
}
nav .div1 .div2{
    border: 1px solid rgba(255, 255, 255, 0.419);
        text-decoration: none;
        margin: 5px;
}
.div1 a:hover{
    height: 100%;
background-color: rgba(229, 225, 225, 0.529);
}
main{
    background-color: rgba(224, 232, 232, 0.752);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main h3{
    font-size: 40px;
    font-weight: 50;
}
main p{
margin-top: 20px;
}
 div.headr{
    margin: 20px;
    position: relative;
}
.headr input{
    width: 600px;
    height: 70px;
  border:  none !important;
    text-align: end;
    font-size: 20px;
}
.headr button{
    width: 80px;
    height: 80%;
    border: none !important;
    position: absolute;
    top: 50%;
    left: 5px;
    background-color: rgb(84, 162, 6);
    color: white;
    transform: translateY(-50%);
}
.headr button:hover{
background-color: rgb(2, 116, 2);
}
main .headr1{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 120px; 
    color: #000000e8;
}
.headr1 a{
    margin: 0 10px;
    text-decoration: none;
    color: #000000a3;
    background-color: white;
    padding: 3px 10px;
}
.headr1 a:hover{
    background-color: rgb(2, 116, 2);
}
.divvv{
 background-color: rgba(218, 227, 227, 0.667);
 width: 100%;
 background-size: cover;
}
.divv{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 100px;
}
.div7{
    height: 380px;
    display: flex;
    cursor: pointer;
}
.div8{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    margin: 10px;
    color: aliceblue;
    z-index: 1;
}
.div8 a{
    width: 100%;
    position: absolute;
        display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.div10{
    height: 380px;
    display: flex;
}
.div9{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 210px;
    margin: 10px;
    color: aliceblue;
    z-index: 1;
}
.div10 a{
    width: 100%;
    position: absolute;
        display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
 .beb{
   display: flex; 
   align-items: center;
   justify-content: center;
   padding: 150px;

}
.be{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.be h4{
    margin:0 10px;
    width: 290px;
    height: 25px;
    padding:20px;
    text-align: end;
    background-color:rgb(255, 255, 255);
}
.b{
      display: flex;
    justify-content: center;
    cursor: pointer; 
    margin-top: 50px; 
}
.b h4{
        margin:0 10px;
    width: 290px;
    height: 25px;
    padding:20px;
    text-align: end;
    background-color:rgb(255, 255, 255);
}
.bebo{
    width: 100%;
    height: 100vh;
    background-color: rgb(206, 211, 215);
}
.elbo{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 150px;
}
.elb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
}
.elbob{
    background-color: rgb(219, 219, 226);
    height: 100vh;
}